#contenido {
    text-align: center;
    padding-top: 25%;
    color: white;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
                 0px 8px 13px rgba(0, 0, 0, 0.1),
                 0px 18px 23px rgba(0, 0, 0, 0.1); 
}

body{
    background: url(https://scontent.fmex7-1.fna.fbcdn.net/v/t31.0-8/25182089_386707218436934_8447419704063672_o.jpg?oh=c1309e9472e26aecb0181f4505e711e2&oe=5AB3EC4C);
    background-size: cover;
    background-position: center; 
    font-family: Lato;
}

h1 {
    font-weight: 700;
    font-size: 5em;
}

html {
    height: 100%;
}
 
