#imagenProductoCatalogo {
    min-height:80px;
    height:80px;
    min-width: 50px;
    width: 110px
}

#contenedorThumbnailCatalogo {
    height: 220px
}

#contenedorDescripcionCatalogo{
    width: 110px;
    height: 53px
}

#contenedorPrecioCatalogo {
    width: 110px;
    height: 39px
}

// Definimos estilos para los contenedores pero de los egresos
#contenedorThumbnailEgreso {
    height: 470px;
}